<div>
<%= form_with(model: @profile, url: profiles_path, method: "post") do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
    <div>
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>
    <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
    <div>
    <%= form.label :state %>
    <%= form.select :state, @states %>
  </div>
  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <%= form.submit %>
<% end %>


</div>