<h1>Admin Orders Index View</h1>

<%if @orders.present?%>

	<table style="border: 1px solid black;">
		<tr>
		<th>Order #</th>
		<th>E-mail</th>
		<th>Order Total</th>
		<th>Order Status</th>
		<th>Order Date</th>
		</tr>

	<% @orders.each do |order|%>
	
	<tr>
		<td><%= order.id%></td>
		<td><%= link_toorder.user.email%></td>
		<td><%= order.total%></td>
		<td><%= order.status%></td>
		<td><%= link_to order.created_at, admin_order_path(order)%></td>
	</tr>
	<% end %>

	</table>
<%else%>
	<p>No orders!</p>
<% end%>