<div class="welcome-main">

  <div class="welcome-main-hero">
    <div class="welcome-main-hero-image">
      <div class="welcome-main-hero-box">
        <div class="welcome-main-hero-box-text">
          <div class="welcome-main-hero-box-banner">
            <p class="top-rated">Top Rated</p>
          </div>
          <p class="feature-header">Featured Tee</p>
          <p class="feature-description">Limited edition Wyncode <br> tee, get it now.<p>
          <p class="feature-details">Available in all sizes.</p>
          <%= button_to 'See this shirt', items_path, method: :get, class: 'see-shirt-btn' %>
        </div>
      </div>
    </div>
  </div>

  <div class="welcome-main-products">
    <div class="products-title">
      <p>Products</p>
    </div>
    <div>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_4.png", alt: "shirts")%>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_5.png", alt: "sweaters")%>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_6.png", alt: "stickers")%>
    </div>
    <div>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_1.png", alt: "mugs")%>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_2.png", alt: "water-bottles")%>
      <%= image_tag("https://wynstore-assets.herokuapp.com/images/Bluebg_3.png", alt: "accessories")%>
    </div>
    <div id="white-triangle">
    </div>
  </div>

  <div class="welcome-main-social">
    <p class="social-tile">#Wyncode</p>
    <div>
      <div>
        <%= image_tag("social/wynlife.jpg") %>
        <p>#WynLife</p>
      </div>
      <div>
        <%= image_tag("social/wynta.jpg") %>
        <p>#WynTA</p>
      </div>
      <div>
        <%= image_tag("social/wynteacher.jpg") %>
        <p>#WynTeachers</p>
      </div>
    </div>
  </div>

  <div class="welcome-main-footer">
    <div>
      <%= image_tag("welcome-footer/building.jpg") %>
    </div>
    <div>
      <p id="welcome-main-footer-title">WYNSTORE</p>
      <p>786-460-1049</p>
      <p>2650 NW 5TH AVE | MIAMI, FL 33127</p>
    </div>
  </div>
</div>