<div class="welcome-main">

  <div class="welcome-main-hero">
    <div class="welcome-main-hero-image">
      <div class="welcome-main-hero-box">
        <div class="welcome-main-hero-box-text">
          <div class="welcome-main-hero-box-banner">
            <p class="top-rated">Top Rated</p>
          </div>
          <p class="feature-header">Featured Tee</p>
          <p class="feature-description">Limited edition Wyncode tee, get it now.<p>
          <p class="feature-details">Available in all sizes.</p>
          <button> See this shirt</button>
        </div>
      </div>
    </div>
  </div>

  <div class="welcome-main-products">
    <h1>Products</h1>
    <div class="products-tiles">
      <div>
        <%= image_tag("product-categories/shirts.png", alt: "shirts")%>
        <%= image_tag("product-categories/sweaters.png", alt: "sweaters")%>
        <%= image_tag("product-categories/stickers.png", alt: "stickers")%>
      </div>
      <div>
        <%= image_tag("product-categories/mugs.png", alt: "mugs")%>
        <%= image_tag("product-categories/water-bottles.png", alt: "water-bottles")%>
        <%= image_tag("product-categories/accessories.png", alt: "accessories")%>
      </div>
     
    </div>
    <div id="white-triangle"></div>
  </div>

  <div class="welcome-main-social">
    <h1>#Wyncode</h1>
    <div>
      <div>
        <%= image_tag("social/wynlife.jpg") %>
        <p>#WynLife</p>
      </div>
      <div>
        <%= image_tag("social/wynta.jpg") %>
        <p>#WynTA</p>
      </div>
      <div>
        <%= image_tag("social/wynteacher.jpg") %>
        <p>#WynTeachers</p>
      </div>
    </div>
  </div>

  <div class="welcome-main-footer">
    <div>
      <%= image_tag("welcome-footer/building.jpg") %>
    </div>
    <div>
      <p id="welcome-main-footer-title">WYNSTORE</p>
      <p>786-460-1049</p>
      <p>2650 NW 5TH AVE | MIAMI, FL 33127</p>
    </div>
  </div>
</div>