<%= form_with model: [@cart, @order], local: true do |form| %>
    <%= hidden_field_tag 'cart_id', @cart.id  %>
    <table class= "display-items">
        <tr class="itme-name-size-price">
            <th>Item Name</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
        </tr>
        <% @cart_items.each do |item| %>
        <tr class= "discription">
            <td><%= item.item_size.item.item_name %></td>
            <td><%= item.item_size.size.size_name %></td>
            <td>$<%= item.item_size.item.price %></td>
        </tr>
        <%end%>
        <tr class="checkout-button"></tr>
        <tr class="total">
            <td><strong>Sub Total</strong> <%= number_to_currency(@total) %>
            <td><strong>Taxes</strong> <%= number_to_currency(@total * @rates) %>
            <td><strong>Grand Total:</strong> <%= number_to_currency(@total * (1 + @rates)) %></td>
        </tr>

        <tr class= "stripe">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount=<%@total%>
        data-locale="auto"></script>

<% end %>
        </tr>
    </table>
