<%= form_with model: [@cart, @order], local: true do |form| %>
    <%= hidden_field_tag 'cart_id', @cart.id  %>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
        </tr>
        <% @cart_items.each do |item| %>
        <tr>
            <td><%= item.item_size.item.item_name %></td>
            <td><%= item.item_size.size.size_name %></td>
            <td>$<%= item.item_size.item.price %></td>
        </tr>
        <%end%>
        <tr>
            <td><strong>Grand Total:</strong> $<%= @total %></td>
        </tr>
    </table>
            <p><%= Rails.configuration.stripe[:publishable_key] %></p>
       <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
       
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount=<%@total%>
          data-locale="auto"></script>
<% end %>
