<h3 class="total"><%= @user.email %>'s Cart</h3>
<% total = 0.0 %>
<% if @cartItems.present? %>
<table class= "display-items-cart">
  <tr  class="itme-name-size-price-cart"> 
    <th>Item Name</th>
    <th>Size</th>
    <th>Price</th>
  </tr>
    <% @cartItems.each do |item| %>
      <% total = total + item.item_size.item.price %>
      <tr class= "discription-cart"> 
        <td><%= item.item_size.item.item_name %></td>
        <td><%= item.item_size.size.size_name %></td>
        <td>$<%= item.item_size.item.price %></td>
        <td><%= button_to 'Delete Item', cart_item_path(item),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%end%>
    <tr class="grand-total">
      <td><strong>Grand Total:</strong> <%= number_to_currency(total)%>
      <%= link_to 'Checkout', profiles_path %></td>
    </tr>
</table>
<% else %>
  <h1> Cart is empty, shop for items now!</h1>
<%end %>