<%= render 'layouts/navbar' %>
<%= render 'layouts/subnavbar' %>

<div class="shopping-cart-page-container">
  <div class="shopping-cart-page-title"><h1>Shopping cart</h1></div>
  <% total = 0.0 %>
  <% if @cartItems.present? %>
  <div class="display-items-cart">
    <div class="display-items-cart-title">
      <h1>Items</h1>
    </div>
        <% @cartItems.each do |item| %>
          <% total = total + item.item_size.item.price %>
          <div class="item-description-wrapper">
            <div class="item-picture">
              <%= image_tag(item.item_size.item.itemURL)%>
            </div>
            <div class="item-description">
              <div class="item-name"><%= item.item_size.item.item_name %></div>
              <div class="item-size"><%= item.item_size.size.size_name %></div>
              <div class="item-price">$<%= item.item_size.item.price %></div>
              <div class="item-delete">
                      <%= button_to 'Delete Item', cart_item_path(item),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
            <div class="item-separator"></div>
          </div>
        <%end%>
        <div class="cart-subtotal">
          <div class="subtotal-attribute">Cart Subtotal:</div>
          <div class="subtotal-value"> <%= number_to_currency(total)%>
        </div>
  </div>
  <div class="end-of-item-list"></div>
  <div class="checkout-button">
  <% if @profile %>
    <%= link_to 'Checkout', new_cart_order_path(@cart) %>
  <% else %>
      <%= link_to 'Checkout', new_profile_path %>
  <% end%>
  </div>
  <div class="continue-shopping">
    <%= link_to "Continue Shopping", items_path%>
  </div>
  <% else %>
    <div class="display-items-cart-title">
      <h1> Cart is empty, shop for items now!</h1>
    </div>
  <% end %>
</div>