<div class="items-index-container">
  <div class="items-index-left-margin"></div>
  <div class="main">
  <div class="title">
    Wyncode T-shirts
    </div>
  <div>
  <div class="items-info">
    <% @items.each do |item| %>
    <div>
      <div class="container">
      <span class="image"><%= image_tag item.itemURL %></span>
      <div class="overlay"><%= link_to 'View Item', item %></div>
    </div>
    <div class="item-details">
      <span id="item-name"><%= item.item_name %></span>
      <% if item.average_rating %>
        <span style="font-size:35px"><%= ('<i class="fas fa-star" id="ratingstars"></i>'* item.average_rating + '<i class="far fa-star"></i>'* (5 - item.average_rating)).html_safe %></span>
      <% else %>
        <span style="font-size:35px">First to Rate!</span>
      <% end %>
      <span id="price-tag"><h3>$<%= item.price %></h3></span>
    </div>
    </div>
    <% end %> 
  <div>
    <div class="items-index-right-margin"></div>
<div>


