<div>
  <h3><%= @item.item_name %></h3>
  <p> Sizes:
  <%= form_with url: cart_items_path do |f| %>
    <%= hidden_field_tag 'item_id', @item.id  %>
    <% @sizes.each do |size| %>
      <%= f.submit size %>
    <% end %>
   QTY: <%= f.number_field :quantity, value: safe_current_or_guest_user.carts.last.items.count, min: 1 %>
<% end %>
  <img src=<%=@item.itemURL%> />
  <p>Description: <%=@item.item_description%></p>
  <br>
  <h3>Comments</h3>
  <% @item.reviews.each do |review| %>
    Comment: <%= review.comments %><br>
    Rating: <%= ('<i class="fas fa-star" id="ratingstars"></i>'* review.rating + '<i class="far fa-star"></i>'* (5 - review.rating)).html_safe %><%= review.rating %><br>    
  <% end %>
  <hr>
  <% if current_user %>
    <%= form_with model: [@item, @item.reviews.build], local: true do |f|  %>
      <div>
        <label> Comments </label>
        <%= f.text_field :comments, autocomplete: "off"%>
      </div>
      <div>
        <%= f.label :rating, "Rating" %>
        <%= f.number_field :rating, min: 1, max: 5, autocomplete: "off"%>
      </div>
      <%= f.submit %>
    <% end %>
    <%else%>
    <%= link_to 'Sign In', new_user_session_path %> <br>
    or <br>
    <%= link_to 'Sign Up', new_user_session_path %> <br>
    To make a comment
  <%end%>
</div>


