<div>
  <h2>Product Details</h2>
  <h3><%= @item.item_name %></h3>
  <p> Sizes:
  <%= form_with url: cart_items_path do |f| %>
    <%= hidden_field_tag 'item_id', @item.id  %>
    <% @sizes.each do |size| %>
      <%= f.submit size %>
    <% end %>
<% end %>
  <p>Description: <%=@item.item_description%></p>
  <p>Quantity: <%=@item.quantity%></p>
  <br>
  <h3>Comments</h3>
  <% @item.reviews.each do |review| %>
    Comment: <%= review.comments %><br>
    Rating: <%= review.rating %>
    <br>
  <% end %>
  <hr>
  <%= form_with model: [@item, @item.reviews.build], local: true do |f|  %>
    <div>
      <label> Comments </label>
      <%= f.text_field :comments %>
    </div>
    <div>
      <%= f.label :rating, "Rating" %>
      <%= f.number_field :rating, min: 1, max: 5, autocomplete: "off" %>
    </div>
    <%= f.submit %>
  <% end %>
</div>


