<div class="php-item-container">
<div class="php-item">
  <div class="pdp-info-container">
    
    <div class="pdp-images">
      <div class="pdp-hero-pic">
        <img src=<%= @item.itemURL %> />
      </div>
      <div class="poses">
        <% @poses.each do |pose| %>
          <%= image_tag pose.image_url %>
        <% end %>
      </div>  
    </div>
    <div class="pdp-details">
      <div class="pdp-item-name">
        <%= @item.item_name %>
      </div>
      <div class="pdp-rating-stars">
        <% if @item.average_rating %>
          <span style="font-size: 35px"><%= ('<i class="fas fa-star" id="ratingstars"></i>'* @item.average_rating + '<i class="far fa-star"></i>'* (5 - @item.average_rating)).html_safe %></span>
        <% else %>
          <span>First to Rate!</span>
        <% end %>
      </div>
      <div class="pdp-item-price">
        $<%= @item.price %>
      </div>
      <div class="pdp-item-size">
        <%= form_with url: cart_items_path do |f| %>
         <%= hidden_field_tag 'item_id', @item.id  %>
          <% @sizes.each do |size| %>
            <%= f.submit size, class: "size-button" %>
          <% end %>
      </div>
      <div class="pdp-description">
        <span style="font-weight: 700">Description: </span><br><%=@item.item_description%>
      </div>
        <% end %>
    </div>
  </div>

  <div class="feature-title">Feature Items</div>
  <hr>
  <div class="feature-items">
    <%= react_component "Carousel" %>
  </div>

  <div>
    <div class="review-title">Reviews</div>
    <hr>
    <div class="review-detail">
    <% @item.reviews.each do |review| %>
      Comment: <%= review.comments %><br>
      Rating: <%= ('<i class="fas fa-star" id="ratingstars"></i>'* review.rating.to_i + '<i class="far fa-star"></i>'* (5 - (review.rating || 0)).to_i).html_safe %><%= review.rating %><br>    
    <% end %>
    <% if current_user %>
      <%= form_with model: [@item, @item.reviews.build], local: true do |f|  %>
      <div class="pdp-comments">
        <div>
          <label> Comments: </label>
          <%= f.text_field :comments, autocomplete: "off", class:"comment-box", required: true %>
        </div>
        <br>
        <div >
          <%= f.label :rating, "Rating:" %>
          <%= f.number_field :rating, min: 1, max: 5, autocomplete: "off", class:"rate-box", required: true %>
        </div>
        <br>
        <div class="pdp-submit">
          <%= f.submit class:"submit-box" %>
        </div>
      <% end %>
      </div>
    <% else %>
     <%= link_to 'Sign In', new_user_session_path %> <br>
     or <br>
     <%= link_to 'Sign Up', new_user_session_path %> <br>
      To make a comment
    <% end %>
    </div>
    </div>
  </div>
