<div>
    <h1>Show page for <%= @user.email %></h1>
    <%if  @profile.present? %>
        <p>Name: <%= @profile.name %></p>
        <p>
        Address:    <span><%= @profile.address %></span>,
                    <span> <%= @profile.city %></span>,
                    <span><%= @profile.state %></span>
                    <span><%= @profile.zipcode %></span>
        </p>
        <p>Phone: <%= @profile.phone_number %></p>
        <p>Name: <%= @profile.email %></p>
    <%end%>
    <% if @orders.length != 0 %>
        <% @orders.each do |order| %>

            <h2> Order ID - <%= order[:id] %> Total: <%= order[:total] %></h2>
            <p>Ordered at: <%= @profile.created_at %>
            <ul>
                <% order[:items].each do |item| %>
                    <%= item[:item_name]%>
                    <br>
                    <%= item[:item_size]%>
                    <br>
                    <%= item[:item_price]%>
                <br>

                <% end %>
            </ul>
    <%end%>
    <%else%>
        <h1> <%= "No orders"%> </h1>
    <%end%>
</div>