<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Wynstore!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if current_user %>
     (<%= current_user.email %>)
     <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %> 
    <% else %>
    <%= button_to 'Sign In', new_user_session_path, method: :create %> 
    <% end %>
    <%= yield %>

  </body>
</html>
