<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
     (<%= current_user.email %>)
     <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> 
    <% else %>
    <%= link_to 'Sign In', new_user_session_path, method: :create %> 
    <% end %>
  </body>
</html>
