<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Wynstore!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script 
      src="https://kit.fontawesome.com/e6601b1b2e.js" 
      crossorigin="anonymous"
    ></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0b06feec75.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if current_user %>
     (<%= current_user.email %>)
     <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %> 
    <% else %>
    <%= link_to 'Sign In', new_user_session_path %> 
    <% end %>
    <%= yield %>

  </body>
</html>
